.ck.ck-dropdown__panel .emoji2-navi {
	display: flex;
	flex-direction: row;
	margin: 4px 0;
	justify-content: space-between;
}
.emoji2-navi > .group {
	display: inline-block;
	content: "";
	height: 25px;
	width: 25px;
	margin: 0;
	border-bottom: 2px solid white;
	cursor: pointer;
}
.emoji2-navi > .group:hover,
.emoji2-navi > .group:active,
.emoji2-navi > .group:focus {
	border-bottom-color: dodgerblue;
	box-shadow: none;
}
